
textarea {
    overflow: auto;
    resize: none;

  }

#todoCards{
    display: flex;
    flex-wrap: wrap;
    gap : 10px;
}

#todo{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.todoCard{
    position: relative;
}

.delBtn{
    position: absolute;
    bottom : 10px;
    right : 10px;
    cursor: pointer;
}